<!doctype html>
<html>
<head>
    <title>RC Transaction Tracker</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="text-center">
        <h1></span>Resilient Coders Transaction Tracker</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

          <% let money = messages.reduce((a,b)=>a+parseInt(b.amount),0) %>
          <h2>Running Total | <span class="red">$<%= money %></span></h2>

          <section class='right'>
            <h3>Transaction History</h3>
            <ul class="messages">
            <% for(var i=0; i<messages.length; i++) {%>
              <li class="message">
                <span class="id"><%= messages[i]._id %></span>
                <span><%= messages[i].item %></span> |
                <span>$<%= messages[i].amount%></span>
                <span><i class="fa fa-trash" aria-hidden="true"></i></span>
              </li>
            <% } %>
            </ul>
          </section>

          <section class='left'>
            <h3>Add a transaction</h3>
          <% if (user.local.email) { %>
            <form action="/messages" method="POST">
            <li>
              <input class="id" type="userID" value="<%= user._id %>" name="userID">
            </li>
            <li>
              <input type="text" placeholder="item" name="item">
            </li>
            <li>
              <input type="number" placeholder="amount" name="amount">
            </li>
            <li>
              <input type="checkbox" placeholder="Star" name="star">
            </li>
              <button type="submit">Submit</button>
            </li>
            </form>
          </section>
        </div>
        <% } %>

</div>

<script src="main.js"></script>

</body>
</html>
