<!doctype html>
<html>
<head>
    <title>RC Transaction Tracker</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="text-center">
        <h1>Resilient Coders Transaction Tracker</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

          <% let money = (AccRec.reduce((a,b)=>a+parseInt(b.amount),0) - AccPay.reduce((a,b)=>a+parseInt(b.amount),0)) %>
          <h2>Running Total | <span class="red">$<%= money %></span></h2>
          <!-- total[0].total -->

          <section class='right sideby'>
            <h3>Accounts Payable</h3>
            <ul class="messages">
            <% for(var i=0; i<AccPay.length; i++) {%>
              <li class="message">
                <span class="id"><%= AccPay[i]._id %></span>
                <span><%= AccPay[i].item %></span> |
                <span>$<%= AccPay[i].amount%></span>
                <span><i class="fa fa-trash" aria-hidden="true"></i></span>
              </li>
            <% } %>
            </ul>
          </section>

          <section class='right sideby'>
            <h3>Accounts Receivable</h3>
            <ul class="messages">
            <% for(var i=0; i<AccRec.length; i++) {%>
              <li class="message">
                <span class="id"><%= AccRec[i]._id %></span>
                <span><%= AccRec[i].item %></span> |
                <span>$<%= AccRec[i].amount%></span>
                <span><i class="fa fa-trash" aria-hidden="true"></i></span>
              </li>
            <% } %>
            </ul>
          </section>

          <section class='left side'>
            <h3>Add a transaction</h3>
          <% if (user.local.email) { %>
            <section>
              <input onclick='checkAP()' type="radio" id="ap" name="accounts" value="ap">
              <label onclick='checkAP()' for="ap">Accounts Payable</label><br>
              <input onclick='checkAR()' type="radio" id="ar" name="accounts" value="ar">
              <label onclick='checkAR()' for="ar">Accounts Receivable</label><br>
            </section>

            <form id='form' action="/AP" method="POST">
            <li>
              <input class="id" type="userID" value="<%= user._id %>" name="userID">
            </li>
            <li>
              <input type="text" placeholder="item" name="item">
            </li>
            <li>
              <input type="number" placeholder="amount" name="amount">
            </li>
            <li>
              <button type="submit">Submit</button>
            </li>
            </form>
          </section>
        </div>
        <% } %>

</div>

<script src="main.js"></script>

</body>
</html>
